{{define "card"}}
<h1> {{.Name}} </h1>
Rarity: <a href="/rarity/{{ .Rarity }}">{{.Rarity }}</a><br>
Cost: <a href="/cost/{{ .Cost }}">{{.Cost }}</a> <br>
Flavor: {{.Flavor}} <br>
Text: {{.Text}} <br>
Attack/Health:  <a href="/attack/{{ .Attack }}">{{.Attack }}</a>/<a href="/health/{{ .Health }}">{{.Health }}</a><br>
Collectible: {{.Collectible}}<br>
Mechanics:
<ul>
    {{range .Mechanics}}
    <li><a href="/mechanic/{{ . }}">{{. }}</a></li>
    {{end}}
</ul>
Artist: {{ .Artist }}<br>

<div id="drawhere"></div>

<script type="text/javascript">d3
    $(function(){
        var drawArea = d3.select("#drawhere")
                            .append("svg")
                            .attr("width",280)
                            .attr("height",280);

        var circleData = [50,100,150]
        var data = [{type:"cost",value:{{.Cost}}},{type:"attack",value:{{.Attack}}},{type:"health",value:{{.Health}}}];
        var values = [{{.Cost}},{{.Attack}},{{.Health}}]
        data.sort(function(a,b){
            if (b.value == a.value) {
                b.value = b.value * .9;
            }
            return b.value - a.value;
        });

        var chord = d3.layout.chord()
                      .padding(.05)
                      .sortSubgroups(d3.descending)
                      .matrix([values

                          ]);

        for (var item in data) {

            var color = "black";

            if (data[item].type == "cost") {
                color = "blue";
            } else if (data[item].type == "health") {
                color = "red";
            } else if (data[item].type == "attack") {
                color = "yellow";
            };

            drawArea.append("circle")
                    .attr("cx",140)
                    .attr("cy",140)
                    .attr("r",data[item].value*10)
                    .style("fill",color);
        };
    });
</script>
{{end}}
