{{define "header"}}
<html>
<head>
    <title>Card: {{ .Name }}</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- <script type="text/javascript" src="/js/d3.js" charset="utf-8"></script> -->
</head>
<body>
{{end}}
