{{define "testmath"}}
AttackToCost: {{.AttackToCost}}<br>
HealthToCost: {{.HealthToCost}}<br>
AttackHealthToCost: {{.AttackHealthToCost}}<br>
AttackHealthRatio: {{.AttackHealthRatio}}<br>
AttackHealthTotal: {{.AttackHealthTotal}}<br>
MechanicsValue: {{.MechanicsValue}}<br>
{{end}}
